.line {
  display: flex;
  width: fit-content;
}
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  list-style: none;
  flex: 1;
  border-color: black;
  border-style: solid;
  margin: 10px;
}
.dot.active {
  background-color: #ff0000;
}
